* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: Lora, serif;
    line-height: 1.5;
    background-color: rgb(246, 241, 227);
} 

main, nav, header {
    max-width: 1350px;
    margin: 0px auto;
}

img {
    display: block;
    margin: 0px auto;
    width: 100%;
}

h2 {
    padding: 10px;
    font-size: 28px;
    margin-top: 20px;
}

.titulos-principales {
    text-align: center;
    font-style: italic;
}

header {
    background-image: url("../img/banner.jpg");
    background-position: top center;
    background-repeat: repeat;
    border-bottom-style: solid;
    border-color: rgb(250, 212, 139);
    background-attachment: fixed;
    max-height: 290px;
    max-width: 100%;

    & > img {
        max-width: 900px;
    }
}

header h1 {
    display: none;
}

nav {
    text-align: center;
    background-image: url("../img/backgroundpersonajes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding: 30px;
    max-width: 100%;
    
    a{
        padding: 8px 24px;
        margin: 17px 10px;
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        color: black;
        background-color: rgb(210 174 136);
        border-top: 4px solid rgb(105 4 13);
        box-shadow: 3px -3px 4px 0px #393939;
        
        &:hover{
            color: whitesmoke;
            background-color: rgb(11, 102, 138);
            border-bottom: 4px solid whitesmoke;
            border-top: 4px solid rgb(11, 102, 138);

        }

        &.active {
            border-style: none;
            color: whitesmoke;
            background-color: rgb(105, 4, 13);
            border-bottom: 4px solid whitesmoke;
        }
    }
}

#introduccion {
    background-color: rgb(250, 235, 215);
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
}

#introduccion h2 {
    background-color: rgb(131, 63, 7);
    color: rgb(250, 235, 215);
}

.texto-introduccion p {
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
    font-size: 25px;
}

.texto-introduccion em {
    color: rgb(0, 46, 107);
}

.texto-introduccion strong {
    color: rgb(105, 4, 13);
}

.introduccion-img {
    float: left;
    max-width: 320px;
    margin: 20px;
    box-shadow: rgb(107, 106, 106) 4px 4px 7px 0px;
    border-radius: 10px;
    filter: drop-shadow(7px 4px 6px skyblue);
}

.introduccion-img-luffy {
    float: right;
    max-width: 270px;
    margin: 20px;
    box-shadow: rgb(107, 106, 106) 4px 4px 7px 0px;
    border-radius: 10px;
    filter: drop-shadow(6px 3px 5px skyblue);
}

#arcos-sagas {
    background-color: whitesmoke;
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
    background-image: url("../img/pattern.webp");
    background-repeat: repeat;
    background-position: right bottom;
    background-attachment: fixed;
    padding-bottom: 20px;
}

#arcos-sagas h2 {
    color: rgb(236, 208, 93);
    background-color: rgb(92, 3, 12);
    margin-bottom: 20px;
}

.lista-sagas {
    padding: 0px 10px;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-saga {
    text-align: center;
    width: 380px;
    vertical-align: top;
    padding: 10px;
    margin: 5px;
}

.lista-sagas li > img {
    max-width: 100%;
    margin: auto;
}

.lista-sagas li > h3 {
    text-align: center;
    background-color: rgb(92, 3, 12);
    color: rgb(236, 208, 93);
    text-transform: uppercase;
    padding: 11px;
}

.saga-descripcion {
    background-color: rgb(255, 169, 112);
    font-size: 22px;
    line-height: 1.5;
    display: block;
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 15px;
}

.bckg-primera {
    background-color: rgb(239, 202, 129);
}

.bckg-segunda {
    background-color: rgb(119, 214, 253);
}

.bckg-tercera {
    background-color: rgb(254, 180, 229);
}

.bckg-cuarta {
    background-color: rgb(250, 212, 139);
}

.bckg-quinta {
    background-color: rgb(113, 187, 28);
}

.bckg-sexta {
    background-color: rgb(239, 239, 239);
}

.bckg-septima {
    background-color: rgb(114, 231, 251);
}

.bckg-octava {
    background-color: rgb(250, 127, 51);
}

.bckg-whole {
    background-color: rgb(255, 158, 190);
}

.bckg-wano {
    background-color: rgb(114, 231, 251);
}

.bckg-final {
    background-color: rgb(213, 213, 213);
    color: rgb(0, 0, 0);
    position: relative;

    .img-logo{
        width: 93%;
        margin-top: 2px;
    }

    .img-luffy-custom{
        border: 4px solid #80b2f4;
        border-bottom: none;
        aspect-ratio: 1/1.065;
        text-align: center;
        background: url('../img/nubes.webp');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
        >p{
            font-size: 27px;      
            margin: 0 auto;        
            text-align: center;         
            text-shadow: 0 0 3px #000000;         
            text-transform: uppercase;         
            position: absolute;     
            left: 19px;       
            bottom: 29px;          
            color: blueviolet;            
            font-weight: bold;
        }
    }
}

.lista-sagas li h4 {
    margin: 0px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    background-color: rgb(92, 3, 12);
    color: rgb(250, 235, 215);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1px 0px;
}

.arcos p {
    font-size: 18px;
    display: block;
    text-align: right;
    padding: 5px 7px;
    margin-bottom: 5px;
    font-weight: 700;
}

#personajes {
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
    background-image: url("../img/backgroundpersonajes.jpg");
    background-repeat: repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 20px;
    margin-top: 20px;
}

#personajes h2 {
    padding: 10px;
    background-color: rgb(225, 197, 145);
    margin-bottom: 30px;
}

#personajes h3 {
    box-shadow: rgb(31, 29, 29) -3px 3px 20px 3px;
    padding: 10px 0px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    background-color: #000000;
    color: antiquewhite;
}

.contenedor-titulo{
    position: relative;

    img{
        position: absolute;
        width: 80px;
        top: -15px;
        left: 225px;
    }
}

.contenedor-personajes{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.marco{
    width: 400px;
    aspect-ratio: 1/1;
    margin: 10px auto;
    padding: 5px;
    background: radial-gradient(rgb(255 205 0 / 76%) 70% 70%);
    border-radius: 50%;
}

.tarjeta-luffy{
    padding: 10px;
    max-width: 580px;
    background-color: #871b2e;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        top: 300px;
        rotate: -20deg;
    }

    .luffy{
        background: radial-gradient(rgb(255 205 0 / 76%) 70% 70%);

        .img-luffy{
            height: 100%;
            border-radius: 50%;
            background: 
            url('../img/personajes/luffy2.png') center / 63% no-repeat,
            linear-gradient(transparent 40%, rgb(120 7 7)),
            url('../img/nubes.webp') top left / cover no-repeat;
        }
    }
}

.tarjeta-zoro{
    padding: 10px;
    max-width: 580px;
    background-color: #132f1b;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        top: 280px;
        rotate: -20deg;
    }

    .zoro{
        background: radial-gradient(rgb(95 185 120) 70% 70%);
        

        .img-zoro{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/zoro.png) center / 75% no-repeat, linear-gradient(transparent 40%, rgb(0 135 6)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-nami{
    padding: 10px;
    max-width: 580px;
    background-color: #933b00;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 16%;
        bottom: 300px;
        right: 11px;
    }

    .nami{
        background: radial-gradient(rgb(255 134 47) 70% 70%);
        
        .img-nami{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/nami.png) center / 110% no-repeat, linear-gradient(transparent 40%, rgb(237 152 76)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-usopp{
    padding: 10px;
    max-width: 580px;
    background-color: #002b5c;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    
    
    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        bottom: 0;
        right: 40px;
        rotate: -2deg;
    }

    .usopp{
        background: radial-gradient(rgb(38 81 119) 70% 70%);
        
        .img-usopp{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/usopp.png) top left / 81% no-repeat, linear-gradient(transparent 40%, rgb(0 43 92)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-sanji{
    padding: 10px;
    max-width: 580px;
    background-color: #736b09;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 30%;
        bottom: 0;
        /* rotate: -20deg; */
        right: -40px;
    }

    .sanji{
        background: radial-gradient(rgb(232 224 124) 70% 70%);

        .img-sanji{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/sanji.png) bottom / 100% no-repeat, linear-gradient(transparent 40%, rgb(253 223 0)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-chopper{
    padding: 10px;
    max-width: 580px;
    background-color: #7a4f32;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        top: 290px;
        left: 0;
        rotate: -2deg;
    }

    .chopper{
        background: radial-gradient(rgb(156 110 77) 70% 70%);
        

        .img-chopper{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/chopper.png) top / 70% no-repeat, linear-gradient(transparent 40%, rgb(137 80 42)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-robin{
    padding: 10px;
    max-width: 580px;
    background-color: #db5f54;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    
    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        bottom: 0;
        right: 10px;
    }

    .robin{
        background: radial-gradient(rgb(255 136 127) 70% 70%);
        

        .img-robin{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/robin.png) bottom/ 100% no-repeat, linear-gradient(transparent 40%, rgb(67 83 150)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-franky{
    padding: 10px;
    max-width: 580px;
    background-color: #008fa0;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    
    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        top: 290px;
        rotate: -9deg;
    }

    .franky{
        background: radial-gradient(rgb(255 152 153) 70% 70%);
        
        .img-franky{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/franky.png) center / 90% no-repeat, linear-gradient(transparent 40%, rgb(0 157 181)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-brook{
    padding: 10px;
    max-width: 580px;
    background-color: #641502;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;

    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 20%;
        top: 330px;
        rotate: 20deg;
    }

    .brook{
        background: radial-gradient(rgb(243 114 8) 70% 70%);
        
        .img-brook{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/brook.png) bottom / 125% no-repeat, linear-gradient(transparent 40%, rgb(254 203 135)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.tarjeta-jinbei{
    padding: 10px;
    max-width: 580px;
    background-color: #224b8c;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    
    >h3{
        position: absolute;
        top: 365px;
        left: 0;
        right: 0;
    }

    >img{
        position: absolute;
        width: 17%;
        top: 331px;
        rotate: 20deg;
        right: 10px;
    }

    .jinbei{
        background: radial-gradient(rgb(139 52 64) 70% 70%);
        .img-jinbei{
            height: 100%;
            border-radius: 50%;
            background: url(../img/personajes/jinbei.png) center/ 100% no-repeat, linear-gradient(transparent 40%, rgb(95 132 181)), url(../img/nubes.webp) top left / cover no-repeat;
        }
    }
}

.descripcion {
    width: 80%;
    line-height: 2;
    font-size: 20px;
    margin: 20px auto;
    color: antiquewhite;
}

#cartografia {
    background-color: rgb(245, 245, 245);
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
    margin: 0px auto;
    background: url('../img/background_cartografia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-blue-star{
    p {
        padding: 15px;
        font-size: 17px;
        text-align: center;
    }

    ul {
        padding-left: 20px;
    }
}

.zona {
    padding-bottom: 50px;
}

.oceanos-principales li {
    list-style: none;
    padding-left: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.blue-star-img{
    background: url('../img/background-mapa.png'), linear-gradient(169deg, rgb(105, 4, 13), #e0c588);
    background-position: 
    center,
    center;
    background-repeat: no-repeat;
    background-size: 
    cover,
    auto;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 18px 2px rgb(105, 4, 13);
    
    img {
        padding: 18px;
        width: 67%;
        border-radius: 20px;
        box-shadow: 0px 0px 20px 3px black;
    }
}

.info-mares{
    
max-width: 1200px;
    
margin: 0 auto;
    
background: linear-gradient(0deg, rgb(236, 208, 93), #e0c588);
    
padding: 5px;
    
border-bottom-right-radius: 20px;
    
border-bottom-left-radius: 20px;
    
margin-bottom: 20px;
}

.contenedor-east-blue h3 {
    background-color: rgb(117, 83, 13);
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.contenedor-east-blue {
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
}

.contenedor-east-blue p {
    line-height: 1.8;
    font-size: 20px;
    border-style: double;
    border-color: rgb(255, 228, 174);
    color: rgb(0, 0, 0);
    background-color: rgb(117 83 13);
}

.contenedor-east-blue p span {
    color: whitesmoke;
}

.contenedor-east-blue h4 {
    background-color: rgb(212, 201, 201);
    padding: 20px;
    color: rgb(71, 52, 17);
    text-align: left;
    font-size: 17px;
}

ul.islas-east-blue {
    list-style: none;
    margin: 20px auto;
    padding-bottom: 15px;
    position: relative;
}

.deco-mapa{
    position: absolute;
    max-width: 240px;
    bottom: 40px;
    right: 30px;
    background: linear-gradient(45deg, rgb(231, 182, 66), transparent);
    border-radius: 50%;
    box-shadow: 0px -1px 20px 3px #3f3f3f;
}

ul.islas-east-blue li {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 4px;
    padding: 10px 15px;
    background: rgb(255, 169, 112);
    font-size: 16px;
    border-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    img{
      width: 24px;
      height: 24px;
      margin: 0px;
    }
}

.islas-east-blue li:nth-child(2n+1) {
    background-color: rgb(117 83 13);
    color: #ffffff;
}

#glosario {
    background-color: bisque;
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
    margin: 0px auto 20px;
    padding-bottom: 20px;
    background: url('../img/backgroundpersonajes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#glosario h2 {
    color: rgb(246, 241, 227);
    font-size: 28px;
    background-color: rgb(109, 71, 25);
}

.lista-glosario, .indice-glosario {
    list-style: none;
}

.indice-glosario{
    max-width: 50%;
    margin: 35px auto;
}

.indice-item {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.indice-item a:hover {
    background-color: rgb(11, 102, 138);
    color: whitesmoke;
}

.indice-item a {
    padding: 3px;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    color: black;
    border-top: 4px solid #69040d;
    font-weight: bold;
}

.indice-glosario li:nth-child(2n+1) {
    background-color: rgb(217, 217, 217);
}

.indice-glosario li:nth-child(2n) {
    background-color: rgb(255, 208, 151);
}

.item-glosario {
    background-color: rgb(250, 189, 0);
    /* max-width: 650px; */
    /* margin: 40px auto; */
}

.item-glosario h3 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: rgb(105, 4, 13);
    color: whitesmoke;
}

.item-glosario p {
    line-height: 2;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.item-glosario p em {
    color: rgb(105, 4, 13);
}

.lista-peor-generacion {
    padding: 20px;
    font-size: 18px;
    list-style-position: inside;
    text-align: left;
}

.quote {
    display: block;
    padding: 30px;
    font-size: 15px;
    font-style: italic;
    margin: 10px;
    background-color: rgb(105, 4, 13);
    border-radius: 20px;
    color: rgb(233, 231, 232);
}

footer {
    background-color: rgb(114, 187, 243);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: 50px;
    box-shadow: 0 0 9px 2px #5d5a5a;
}


.alumno {
    padding: 14px 25px 0px;
    color: rgb(249, 243, 243);
    text-shadow: rgb(33, 27, 27) 3px 3px 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 15px;
    left: 20%;
}

.alumno p {
    text-align: left;
    padding-left: 20px;
}

.alumno img {
    display: inline;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 14px 5px #94855a;
}

.alumno a {
    text-align: center;
    color: rgb(255, 0, 0);
}

.alumno a:hover {
    color: rgb(86, 201, 247);
}

.fuentes {
    width: 20%;
    margin-left: auto;
    padding: 5px;
    top: 0;
    right: 0;
}

.fuentes p {
    display: block;
    color: rgb(37, 11, 11);
    border-radius: 10px;
    text-align: right;
    text-shadow: rgb(211, 211, 211) 2px 3px 3px;
    font-size: 22px;
    margin-right: 10px;
    font-weight: 600;
}

.fuentes li {
    list-style: none;
    display: inline;
    text-align: center;
}

.fuentes li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 46, 107);
    background-color: rgb(231, 182, 66);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
}

.fuentes li a:hover {
    background-color: rgb(0, 46, 107);
    color: rgb(231, 182, 66);
}

.fuentes li a:active {
    background-color: rgb(105, 4, 13);
    color: rgb(231, 182, 66);
}

/*VIDEOJUEGOS*/

#videojuegos {
    background-color: rgb(250, 235, 215);
    box-shadow: rgb(109, 109, 109) -3px 3px 20px 3px;
    padding-bottom: 20px;
    .texto-introduccion{
        padding: 30px;
        margin-bottom: 20px;
    }
}

#videojuegos h2 {
    background-color: rgb(131, 63, 7);
    color: rgb(250, 235, 215);
}

.contenedor-trailer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    
    h3{
        position: absolute;
        background-color: #d29e35;
        padding: 8px;
        border-radius: 20px;
        top: -17px;
    }
}

.trailer{
    padding: 15px;
    background-image: linear-gradient(90deg,
        rgb(231, 182, 66),
        rgb(124, 57, 1)
    );
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgb(36, 36, 36);
    aspect-ratio: 16/9;
}

.multimedia {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}

.img-juego{
    display: flex;
    align-items: center;
    justify-content: space-between;
        margin: 30px;

    img{
        width: 500px;
        display: block;
        filter: drop-shadow(2px 4px 6px black);
    }
}

.new-ambition{
    width: 85%;
}

.trailer-tarjetas{
    width: 50%;
}

.contenedor-videojuegos{
    padding: 20px;
    display: grid;
}

.videojuego{
    display: flex;
    box-shadow: 1px 2px 11px rgb(58, 58, 58);
    background-image: url('../img/background-tarjetas.jpg');
    background-repeat: repeat;
    flex-direction: column;
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.año-videojuego{
    padding: 18px 30px 13px 30px;
    background: linear-gradient(180deg, #b97125, transparent);
    font-weight: bold;
    font-size: 40px;
    box-shadow: 2px -6px 13px 0px #595959;
    display: inline-block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: whitesmoke;
    text-shadow: 0 0 9px black;
}

.año-videojuego.intermedio{
        background: linear-gradient(80deg, #d99a0270, transparent);
}

.nombre-videojuego{
    display: inline-block;
    padding: 11px;
    border-top: solid;
    border-color: #d35e16;
    text-align: center;
    font-size: 22px;
    margin-bottom: 60px;
    background: linear-gradient(183deg, #ce4900, transparent);
    color: antiquewhite;
    text-shadow: 0 0 5px black;
}

.nombre-videojuego.intermedio{border-color: #dfb045;}

.info-videojuego{
    text-shadow: 0px 0px 8px #9f9f9f;
    font-weight: 500;
    display: block;
    width: 520px;
    background-color: #eccb7d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 6px #6b4a21;
    margin: 0 auto;

    span{
        color: #224b8c;
    }
}

.contenedor-textos{  
    display: flex; 
    justify-content: space-around;    
    margin-bottom: 30px;
}

.gif-luffy{
    width: 110px;
    position: absolute;
    top: 25px;
    right: 15px;
    border-radius: 50%;
    box-shadow: 0 0 11px 1px black;
    background: linear-gradient(45deg, #fff, transparent);
}

.sticker-luffy{
    position: absolute;
    width: 120px;
    top: -40px;
    right: 0px;
}


#cartografia h2 {
    background-color: rgb(252, 215, 172);
    margin-bottom: 30px;
}

.contenedor-blue-star p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.contenedor-blue-star ul {
    text-align: center;
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 25px;
    background: linear-gradient(1deg, rgb(11, 102, 138), transparent);
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px 5px rgb(0, 46, 107);
}

.oceanos-principales li {
    list-style: none;
    font-size: 20px;
    text-shadow: 0px 0px 4px rgb(107, 106, 106);
    line-height: 1.9;
}

.indice-glosario li:nth-child(2n+1) {
    background-color: rgb(217, 217, 217);
}

.indice-glosario li:nth-child(2n) {
    background-color: rgb(255, 208, 151);
}

.item-glosario {
    background-color: rgb(250, 189, 0);
    max-width: 700px;
    margin: 40px auto;
    box-shadow: 0px 4px 13px 2px #fabd00;
}

.sticker-luffy{
    position: absolute;
    width: 123px;
    top: -12px;
    right: 0px;
}