*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main /*ancho maximo siempre*/
{
    background-color: blanchedalmond;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

img
{
    display: block;
    max-width: 100%;
}

.titulos-principales
{
    text-align: center;
    border: 2px solid rgb(177 4 15);
    background-color: skyblue;
    padding: 4px;
    margin: 30px auto;
    margin-top: 60px;
    border-radius: 40px 40px;
    font-size: 30px;
}

.contenedor-introduccion
{
    background-color: skyblue;
    border-radius: 20px 20px;
    padding: 20px 10px;
    margin: 20px 0;
}

.texto-introduccion
{
    line-height: 35px;
    padding: 5px;
    font-size: 25px;  
}

#intro
{
    background-color: bisque;
}

.contenedor-sagas
{
    display: block;
    padding: 40px;
}

.tarjeta-saga
{
    background-color: rgb(250, 0, 0);
    color: antiquewhite;
    font-size: 15px;
    max-width: 300px;
    max-height:fit-content;
    border-radius: 20px 20px;
    padding: 20px;
    margin-bottom: 50px;
    vertical-align: top;
}

.tarjeta-saga p
{
    color :black;
}

h3
{
    color: antiquewhite;
}

.contenedor-personajes
{
    margin: 10px auto;
}

.tajeta-personaje
{
    display: inline-grid;
    width: 450px;
    height: 500px;
    background-color: skyblue;
    text-align: left;
    margin: 5px;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 15px;
}

.tajeta-personaje > h3
{
    text-align: center;
    background-color: hsl(356deg 95.99% 35.43%);
}

.tajeta-personaje > p
{
    padding: 5px 10px;
}

.estilo-imagen
{
    margin: 0 0 10px auto;
}